<% @product.product_options.each do |o| %>
  <h2><%=o[:display] %></h2>
  <%= select("option", o[:id], o[:options].map { |v| ["#{v[:presentation]} - $#{v[:price]}", v[:id]] }, {:include_blank => 'None'}, {:class => 'product_option'}) %>
<% end %>
