<div id="selected_options">
  <h3>Options</h3>
  <ul id="specs-list">
    <% @product.option_types.each do |o| %>
      <li id="selected_option_<%=o.id%>">
        No <%=o.presentation %>
        <input type="hidden" name="product_option_<%=o.id%>" id="product_option_<%=o.id%>" value="">
      </li>
    <% end %>
  </ul>
</div
