<div id="selected_options">
  <h3>Options</h3>
  <ul id="specs-list">
    <% @product.option_types.each do |o| %>
      <li id="selected_option_<%=o.id%>">
        No <%=o.presentation %>
        <input type="hidden" id="product_option_<%=o.id%>" name="product_options[<%=o.id%>]">
      </li>
    <% end %>
  </ul>
</div
