<div class="omega two columns">
  <%= f.field_container :product_based do %>
    <%= f.label :product_based, t(:product_based) %>
    <%= f.check_box :product_based %>
    <%= f.error_message_on :product_based %>
  <% end %>
</div>
